-
    var saintpCards = [];
    saintpCards[0] = {
        name: 'parliament',
        title: 'Дворец Парламента',
        subtitle: 'или Дом Народа',
        text: '<p>Самое большое здание в&nbsp;Европе и&nbsp;символ коммунистической эры сегодня открыт для <a href=\"http:\/\/cic.cdep.ro\/en\/visiting\/visiting-routes\">экскурсионных туров<\/a>. Внутри здание впечатляет ещё больше&nbsp;&mdash; всё сделано из&nbsp;румынских материалов. Самый большой тур проведет вас от&nbsp;открытой террасы до&nbsp;подвала, где Чаушеску и&nbsp;Джереми Кларксон катались на&nbsp;машинах.<\/p>',
        pricetitle: 'Самая большая экскурсия',
        id: 'sparliament',
        price: '55 lei'
    }

    saintpCards[1] = {
        name: 'taxi',
        title: 'Такси',
        subtitle: 'Uber или жёлтое такси',
        text: '<p>Обычно такси здесь дешёвые. Цены обозначены на&nbsp;дверях, но&nbsp;некоторые водители не&nbsp;хотят включать свои счётчики и&nbsp;попытаются договориться о&nbsp;цене с&nbsp;вами. Чтобы не&nbsp;попасть в&nbsp;неприятную ситуацию, лучше звонить в&nbsp;службу такси или заказывать его через <a href=\"https:\/\/www.uber.com\/ro\/cities\/bucharest\/\">мобильное приложение<\/a>.<\/p>',
        pricetitle: 'В среднем поездка стоит',
        id: 'staxi',
        price: '10 lei'
    }

    saintpCards[2] = {
        name: 'covrigul',
        title: 'Ковриг',
        subtitle: 'Румынский претцель',
        text: '<p>Практически на&nbsp;каждом углу в&nbsp;Бухаресте вы&nbsp;можете купить дешёвые и&nbsp;вкусные ковриги&nbsp;&mdash; румынские претили или симиты. Это самая популярная уличная еда в&nbsp;городе. Обычно ковриги продаются с&nbsp;кунжутом, маком, семечками или изюмом. <\/p>',
        pricetitle: '1 ковриг',
        id: 'scovrigul',
        price: '1 lei'
    }

    saintpCards[3] = {
        name: 'metro',
        title: 'Метро',
        subtitle: 'Один билет действителен для двух поездок',
        text: '<p>Метро в&nbsp;Бухаресте было построено при коммунистическом режиме для того, чтобы жители окраин добирались на&nbsp;рабочие места. Сейчас вы&nbsp;можете насладиться поездкой и&nbsp;отправиться в&nbsp;один из&nbsp;многочисленных торговых центров или поехать на&nbsp;станции &laquo;Politehnica&raquo; и&nbsp;посмотреть на&nbsp;<a href="http://www.amusingplanet.com/2015/05/the-stunning-secret-of-politehnica.html">моллюсков Юрского периода</a> внутри мраморных плит.</p>',
        pricetitle: '1 билет на 2 поездки',
        id: 'smetro',
        price: '5 lei'
    }

    saintpCards[4] = {
        name: 'primaverii',
        title: '«Весенний» дворец',
        subtitle: 'Бывшая резиденция Чаушеску',
        text: '<p>Если вы&nbsp;хотите посмотреть как жил человек, который правил Румынией больше 24&nbsp;лет&nbsp;&mdash; <a href=\"http:\/\/palatulprimaverii.ro\/#rezervati\">приезжайте посмотреть<\/a> на&nbsp;его бывшую резиденцию. Вы&nbsp;увидите его квартиру, бассейн, внутренний и&nbsp;внешний сад, домашний кинотеатр и&nbsp;&laquo;золотую&raquo;, ванную, которая на&nbsp;самом деле просто позолочена. Музей открылся только в&nbsp;2016&nbsp;году, так что будьте в&nbsp;числе первых туристов, посетивших его.<\/p>',
        pricetitle: 'Эскурсия на английском',
        id: 'sprimaverii',
        price: '45 lei'
    }

    saintpCards[5] = {
        name: 'shaorma',
        title: 'Шаурма',
        subtitle: 'Здесь добавляют картошку фри внутрь!',
        text: '<p>Шаверма или кебаб в&nbsp;Бухаресте называется как в&nbsp;Москве&nbsp;&mdash; шаурма. Мест, где её&nbsp;можно купить, очень много&nbsp;&mdash; красивые и&nbsp;модные, дорогие, дешёвые и&nbsp;даже&nbsp;те, где мясо и&nbsp;овощи кладут внутрь чиабатты. Помните, что без картошки внутри шаверма здесь не&nbsp;обходится и&nbsp;обязательно попробуйте &laquo;пикантный&raquo; (острый) соус.</p>',
        pricetitle: 'Маленькая шаурма обычно стоит',
        id: 'sshaorma',
        price: '11 lei'
    }

    saintpCards[6] = {
        name: 'filarmonica',
        title: 'Филармония Джордже Энеску',
        subtitle: 'Музыка в самом красивом здании города',
        text: '<p>Филармонический оркестр назван в&nbsp;честь великого румынского композитора Джеордже Энеску, который также выступал в&nbsp;Румынском атенеуме. Внутри здание ещё красивее и&nbsp;стоит визита даже если вы&nbsp;не&nbsp;любите классическую музыку. Игристое вино в&nbsp;баре тоже порадует своей ценой.<\/p>',
        pricetitle: 'В среднем билет стоит',
        id: 'sfilarmonica',
        price: '30 lei'
    }

    saintpCards[7] = {
        name: 'espresso',
        title: 'Эспрессо',
        subtitle: 'С него начинается утро',
        text: '<p>Румыны обожают кофе и&nbsp;пьют чай только зимой. Здесь есть&nbsp;&mdash; модные кофейни, красивые кофейни, страшные места с&nbsp;кофейной машиной и&nbsp;магазины с&nbsp;аппаратами от&nbsp;Tchibo с&nbsp;самым дешёвым кофе в&nbsp;городе.<\/p>',
        pricetitle: 'Средняя цена',
        id: 'sespresso',
        price: '6 lei'
    }

    saintpCards[8] = {
        name: 'constanta',
        title: 'Констанца',
        subtitle: 'Если вы хотите к воде - это сюда',
        text: '<p>Единственная вещь, которой не&nbsp;хватает Бухаресту&nbsp;&mdash; это вода. Поэтому во&nbsp;время жарких летних дней вам возможно захочется освежиться, лёжа у&nbsp;Чёрного моря с&nbsp;бокалом удивительно дешёвого Aperol Spritz. Это можно сделать в&nbsp;Констанце. Если вы&nbsp;устанете от&nbsp;плавания и&nbsp;солнечных ванн, посмотрите на&nbsp;великолепное <a href="http://arttravelblog.ru/dostoprimechatelnosti/zabroshennoe-kazino-konstanca-rumyniya.html">казино в&nbsp;стиле арт-нуво</a>.</p>',
        pricetitle: 'Билет на поезд в обе стороны',
        id: 'sconstanta',
        price: '100 lei'
    }

for every in saintpCards
    .section(class='#{every.name}')
        section.hero.is-fullheight
            .pattern
            .hero-head
                .container.is-hidden-mobile
                    span.icon.is-medium.moveup
                        a
                            i.fa.fa-chevron-up
            .hero-body
                .container.has-text-centered
                    .columns.is-vcentered
                        .column.is-8.is-offset-2
                            h2.title.is-2
                                | #{every.title}
                            h3.subtitle.is-4
                                | #{every.subtitle}
                            .content
                                p
                                | !{every.text}
                                p.title  #{every.pricetitle}:
                                p.title.is-1(id='#{every.id}') #{every.price}
            .hero-foot
                .container
                    span.icon.is-medium.movedown.is-hidden-mobile
                        a
                            i.fa.fa-chevron-down






